* {
    margin: auto;
    padding: auto;
}

.container {
    width: 100%;

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}

header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
}

.mainBlock {
    background-color: red;

    display: flex;    
}


.asideBlock {
    background: yellow;
    flex-basis: 33%;
    margin: 5px;
}

.asideItem {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.asideBlock__items {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}


/*mainContent*/
.articleBlock {
    background: orange;
    flex-basis: 66%;
    margin: 5px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 160px);
}

.content__item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 160px;
    height: 250px;
    margin: 10px 20px;
}

.content__item-name {
    justify-content: center;
    align-self: center;
    padding-bottom: 5px;
}

.content__item-img {
    justify-content: center;
    align-self: center;
    padding: 5px 0;
}

.content__item p {
    word-break: break-all;
    height: 3em;
    font-size: 12px;
}

.content__item-gender {
    background-color: red;
    width: 100%;
}

.content__item-country {
    height: 2em;
}

footer {
    background-color: purple;
    width: 100%;
}