* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* min-height: 100vh; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e4e4e4;
}

header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1eaea;
}

header a {
    text-decoration: none;
    color: #000000;
}

.mainBlock {
    display: flex;    
}


.asideBlock {
    background: #eeebeb;
    flex-basis: 33%;
    margin: 5px;
}

.asideItem {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.asideBlock__items {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#minNumber, #maxNumber {
    width: 20%;
}

#minNumber:focus, #maxNumber:focus {
    background-color: lightblue;
}

#minNumber::-webkit-outer-spin-button, #maxNumber::-webkit-outer-spin-button ,
#minNumber::-webkit-inner-spin-button, #maxNumber::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

/*mainContent*/
.articleBlock {
    background: #faf1f1;
    flex-basis: 66%;
    margin: 5px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 175px);
}

.content__item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 160px;
    height: 250px;
    margin: 10px 20px;
    box-shadow: 6px 3px 11px -3px rgba(0,0,0,0.27);
}

.content__item-name {
    justify-content: center;
    align-self: center;
    padding-bottom: 5px;
}

.content__item-img {
    justify-content: center;
    align-self: center;
    padding: 5px 0;
}

.content__item p {
    word-break: break-all;
    height: 3em;
    font-size: 12px;
}

.content__item a {
    text-decoration: none;
    color: #000000;
}

.content__item a:hover {
    color: #423f3f
}

.content__item-gender {
    /* background-color: red; */
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
}

.content__item-country {
    height: 2em;
}

footer {
    background-color: rgb(197, 186, 197);
    width: 100%;
    /* bottom: 0px; */
    /* position: fixed; */
}

footer a {
    text-decoration: none;
    color: #000000;
}